<div id="fb3d-ctx" class="flip-book">
    <div class="view">
        <div class="fnav">
            <div class="prev">
                <a class="cmdBigBackward" href="#"><span class="icon"><i class="fa fa-angle-left"
                            title="<$tr>Previous page</$tr>"></i></span></a>
            </div>
            <div class="next">
                <a class="cmdBigForward" href="#"><span class="icon"><i class="fa fa-angle-right"
                            title="<$tr>Next page</$tr>"></i></span></a>
            </div>
            <div class="widPendingPlay pending-play hidden">
                <a class="cmdPendingPlay" href="#"><i class="fa fa-play" title="<$tr>Play</$tr>"></i></a>
            </div>
        </div>
        <div class="widLoadingProgress loading-progress hidden">
            <div class="progress">
            </div>
            <div class="txtLoadingProgress caption">
            </div>
        </div>
        <div class="widLoading page-loading hidden">
        </div>
    </div>
</div>